body {
    background-color: #f5f5f5;
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 20px;
}
h1 {
    display: none;
}
h2, h3 {
    font-family: serif;
}
#my_info h2 {
    display: none;
}

#my_info img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 40px;
} 
table {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
}
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 4px;
}

ul li::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
ul li:nth-child(1)::before {
    content: url('ico_email.png');
}
#skill ol {
    list-style: none;
    padding: 0;
}

#skill li {
    display: inline-block;
    background-color: gold;
    padding: 4px 10px;
    border-radius: 32px;
    margin: 0 8px 8px 0;
}

#skill li::before {
    content: "#";
}
